body {
  margin: 0;
  font-family: 'Tinos', serif;
}

nav {
  background-color: #e2e2e2;
  /* height: 5vh; */
  font-size: 1em;
  padding: 0.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

img {
  height: 2em;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  background-color: #ccdcee;
  text-align: center;
  padding: 2em;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-top: 20px;
}

ul,
li {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: 0 30px;
}

#title {
  margin: 0 50px;
}

#block {
  /* background-color: lightgray; */
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

#content {
  background-color: #8898aa;
  text-align: center;
  line-height: 2.5;
  margin: 10px;
  height: 150px;
  width: 500px;
}

button {
  font-size: 16px;
  font-family: 'Tinos', serif;
  border: none;
  background-color: #ccdcee;
  padding: 10px 20px;
  display: grid;
  margin: 10px auto;
}