main {
    width: 100%;
    height: calc(100vh - 112px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;

    background-image: url("https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1090&q=80");
    background-size: cover;
    background-position: center;
}

.waviy {
    position: relative;
    font-size: 4rem;
}
.waviy span {
    position: relative;
    display: inline-block;
    animation: waviy 1s infinite;
    animation-delay: calc(0.1s * var(--i));
}

@keyframes waviy {
    0%,
    40%,
    100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

@media (max-width: 992px) {
    main {
        align-items: center;
    }

    .waviy {
        padding: 0;
        font-size: 2.5rem;
    }
}
