main {
    width: 100%;
    height: calc(100vh - 112px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;

    background-image: url("https://images.unsplash.com/photo-1597733153203-a54d0fbc47de?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1090&q=80");
    background-size: cover;
    background-position: center;
}

main h1 {
    font-size: 3rem;
    margin: 10px 0;
}

main form {
    width: 40%;
}

main h1,
main form {
    padding-left: 20px;
}

@media (max-width: 992px) {
    main {
        align-items: center;
        padding: 0;
    }
    main form {
        width: 80%;
    }
    main h1,
    main form {
        padding: 0;
    }
}
